<!-- Primera imagen -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Colección Musical</h1>
      <div class="row center">
        <h5 class="header col s12 white-text light">Encuentra todos los artistas</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">¡Conoce más!</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/img/fondo1.jpg" alt="primer fondo musical" style="display: block;"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="medium material-icons">queue_music</i></h2>
          <h5 class="center">Top's Trending</h5>

          <p class="light center">Tendras al alcance los más trending musical. tops actualizados cada semana, increibles listas de varios géneros y mas!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="medium material-icons">library_music</i></h2>
          <h5 class="center">Tracking-playlist people</h5>

          <p class="light center">Podras compartir listas con tus familiares y amigos, así como acceder a otras playlists de tu agrado.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="medium material-icons">person_pin</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light center">Podrás personalizar tu cuenta, tus playlist, álbumes y más</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!--segunda imagen -->
<div class="parallax-container valign-wrapper">
  <div class="container center">
    <div class="row center">
      <h4 class="header col s12 light">Experience and comfort in each garment, ensuring quality in each centimeter</h4>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/fondo2.jpg" alt="Unsplashed background img 2" style="display: block;"></div>
</div>


<div class="container">
  <div class="section">

    <!-- <div class="row"> -->
    <div class="col s12 center">
      <!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
      <h3>Tú tienes el poder, tú Elijes</h3>
    </div>
    <!-- MUSIC CARDS -->
    <div class="container center-align" style="display: flex;">

      <div class="col s12 m6">
        <div class="card-image">
          <img src="assets/img/varios.jpg" alt="varios generos" style="width: 82%;">
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-image">
          <img src="assets/img/workout.jpg" alt="workout" style="width: 119.5%;">
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-image">
          <img src="assets/img/focus.jpg" alt="focus" style="width: 122%;">
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card-image">
          <img src="assets/img/sleep.jpg" alt="sleep" style="width: 119%;">
        </div>
      </div>

    </div>
    <!-- </div> -->

  </div>
</div>
