<div class="row">
<div class="col s12 m7">
  <h3 class="header">La banda baston</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://2.bp.blogspot.com/-tG6JcJOngOw/WKkH0GzTvgI/AAAAAAAAJis/h_SP7rHo-kUYu645s52jQo_8swplzqs_ACLcB/s1600/luces-fantasma-cover.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Luces fantasmas</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">La banda baston</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://4.bp.blogspot.com/-wJC8BCR_EiA/U31Cdgi-boI/AAAAAAAABJw/9TxyMLup03c/s1600/FVOJMAL.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Todo bien</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">La banda baston</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://s.mxmcdn.net/images-storage/albums4/2/0/6/4/1/5/33514602_350_350.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Envuelto en humo</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>
