<div class="row">
  <div class="col s5 offset-s1">
    <practica-component></practica-component>
  </div>
  <div class="col s5 offset-s1">
    <practica-componentp></practica-componentp>
  </div>
</div>

<div class="row">
  <div class="col s5 offset-s1">
    <odisseo-component></odisseo-component>
  </div>
  <div class="col s5 offset-s1">
    <little-component></little-component>
  </div>
</div>


<div class="row">
  <div class="col s5 offset-s1">
    <metronomy-component></metronomy-component>
  </div>
  <div class="col s5 offset-s1">
    <miike-component></miike-component>
  </div>
</div>
