<div class="row">
<div class="col s12 m8">
  <h3 class="header">{{$ctrl.singer}}</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://2.bp.blogspot.com/-8T5UtE5STfg/VuDpuCdOo-I/AAAAAAAACxQ/ziZ4BdZboxk/s1600/Odisseo-D%25C3%25ADasdeFuego-portada.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{$ctrl.song}}</p>
      </div>
      <div class="card-action">
        <a href="http://127.0.0.1:8887/index.html#!/absolution">Disco</a>
      </div>
    </div>
  </div>
</div>
</div>
