<div class="navbar-fixed">
  <nav class="blue" role="navigation">
    <div class="nav-wrapper container">

      <a id="logo-container" href="#" class="brand-logo"><img src="assets/img/logo.jpg" class="logo" alt="logotipo" style="border-;border-radius: 100%;width: 21%;"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="index.html#!/genero">Géneros</a></li>
        <li><a href="#"><i class="material-icons left">search</i>Busca tu artista</a></li>
      </ul>
      <!--mobile section  -->
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"><i class="material-icons left">search</i>Busca tu artista</a></li>
        <li class="active"><a href="index.html">Inicio</a></li>
        <li><a href="#">Géneros</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">reorder</i></a>
    </div>
  </nav>
</div>
