<div class="row">
<div class="col s12 m7">
  <h3 class="header">Aleman</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://images.genius.com/1731e83206a1731ad85323852a96f273.1000x1000x1.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Rolemos otro</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">Aleman</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://1.bp.blogspot.com/-3ct05CocxqQ/VfKJgsz5wAI/AAAAAAAAAtg/fOyo-Xp3yjM/s320/aleman.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Pase de abordar</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">Aleman</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://s.mxmcdn.net/images-storage/albums4/1/0/7/4/6/7/36764701_800_800.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Mañanero</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>
