<div class="row">
<div class="col s12 m8">
  <h3 class="header">{{$ctrl.singer}}</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://upload.wikimedia.org/wikipedia/en/7/71/METRONOMY_THE_ENGLISH_RIVIERA_ALBUMCOVER.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{$ctrl.song}}</p>
      </div>
      <div class="card-action">
        <a href="http://127.0.0.1:8887/index.html#!/absolution">Disco</a>
      </div>
    </div>
  </div>
</div>
</div>
