<div class="row">
<div class="col s12 m7">
  <h3 class="header">{{$ctrl.singer}}</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7d/Brand_New_Eyes_cover.jpg/220px-Brand_New_Eyes_cover.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{$ctrl.song}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>
