<div class="row">
<div class="col s12 m7">
  <h3 class="header">Tino el pinguino</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://f4.bcbits.com/img/a3622713500_10.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Tu antiheroe favorito</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">Tino el pinguino</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="http://3.bp.blogspot.com/-q5zPtl6g3ms/VUmQI-bBKLI/AAAAAAAAPe8/kEU2HzwLhrs/s1600/Portada.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Ego fui a comer regreso pronto</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m7">
  <h3 class="header">Tino el pinguino</h3>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://3.bp.blogspot.com/-jMPZqePLrxE/V80CqjA2TVI/AAAAAAAATkA/KXuGtU2rYg8x7I2-vpvkQN20dEpYP9vtACLcB/s400/de%2Bvuelta.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>De vuelta en el lodo</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
</div>
